# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
out/*

# Default ignored files
/workspace.xml
# Editor-based HTTP Client requests
# Datasource local storage ignored files

# MacOS
.DS_Store

# IntelliJ
.idea/*
*.iml

# Compiled output
*.class
